
/*****VARIABLES & MIXINS*****/

$primary-color:#ffcc00 ; /*gold*/
/*$primary-color:#9356DC; darkpurple*/
$secondary-color:#ffe680; /*lightgold*/
/*$secondary-color:#FF79DA; lightpurple*/
$tertiary-color:#3E3E3E;/*grayish*/
/*$tertiary-color:#99E2D0;foamblue*/
$background-grey:#F6F6F6;/*whiteish*/
$lighter-text-color: #4F4E4E;/*blackish*/
$breakpoints:(desktop: 717px);
$bar-color: $secondary-color;
$ball-color: $tertiary-color;
$bg-color: $primary-color;

@mixin desktop-style{
	@media screen and( min-width: map-get($breakpoints, desktop)){
		@content;
	}
}

@mixin shade{
	-webkit-box-shadow: 0px 5px 10px lightgrey;
	box-shadow: 0px 5px 10px lightgrey;
}

@mixin padding-20{
 	padding: 20px;
 }

 @mixin lighter-hover{
 	-webkit-box-shadow: 0px 6px 11px grey;
	box-shadow: 0px 6px 11px grey;
	-webkit-filter: brightness(110%);
	 filter: brightness(110%);
 }

  @mixin smoother-lighter-hover{
 	-webkit-box-shadow: 0px 6px 11px grey;
	box-shadow: 0px 6px 11px grey;
	-webkit-filter: brightness(103%);
	 filter: brightness(103%);
 }

@mixin flex-row-centered{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	 flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin flex-column{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	 flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}

@mixin self-text-align{
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	text-align: center;
}

@mixin just-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

@mixin flex-row-end{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

@mixin background-normal-position{
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

@mixin background-menu-style{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 250px;
}

@mixin background-menu-desktop{
	background-repeat: no-repeat;
	background-position: 50% 65%;
	background-size: cover;
}

@mixin number-dot{
	width: 20px;
	height: 20px;
	min-width: 20px;
	min-height: 20px;
	padding: 3px;
	background-color: $primary-color;
	border-radius: 50px;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: white;
}

@mixin menu-header-pages{
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: white;
	z-index: 2;
		#home{
			display: inherit;
		}
}

@mixin pic-footer-style{
	@include padding-20;
	@include just-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 15px;
	padding-top: 35px;
	background-color: $background-grey;
	border-radius: 40px 40px 0px 0px;
	margin-top: -45px;
	z-index: 1;
		h1{
			font-family: Shrikhand, arial;
			font-size: 170%;
			margin: 0px 20px 0px 10px;
			letter-spacing: 0.5px;
		}
}

@mixin icon-heart-style{
	position: relative;
	height: 50%;
	margin: 0px;
	text-align: center;
	padding: 10px 0px 30px 0px;
		.icon-heart{			
			position: absolute;
			right: 20px;
			width:35px;
			height: auto;			
			color: grey;			
			font-size: 160%;
			z-index: 2;
			-webkit-transition: all 0.4s;
			-o-transition: all 0.4s;
			transition: all 0.4s;
		}
		.icon-heart-plain{
			font-size: 160%;
			z-index: 1;
			opacity: 0;
			background-color: white;
			background-image: -o-linear-gradient($secondary-color, $primary-color);
			background-image: -webkit-gradient(linear, left top, left bottom, from($secondary-color), to($primary-color));
			background-image: linear-gradient($secondary-color, $primary-color);
			background-size: 100%;
			background-repeat: repeat;
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			-webkit-transition: all 0.4s;
			-o-transition: all 0.4s;
			transition: all 0.4s;
		}
		&:hover{
			.icon-heart{						
				opacity: 1;
				color: transparent;				
			}
			.icon-heart-plain{
				z-index: 3;	
				opacity: 1;				
			}
		}
}

@mixin text-wrapping{
	display: inline-block;
	-ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
	overflow: hidden;	
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

@mixin hover-tick-transition{
	-webkit-transition: background-color 0.25s, -webkit-box-flex 0.5s;
	transition: background-color 0.25s, -webkit-box-flex 0.5s;
	-o-transition: flex 0.5s, background-color 0.25s;
	transition: flex 0.5s, background-color 0.25s;
	transition: flex 0.5s, background-color 0.25s, -webkit-box-flex 0.5s, -ms-flex 0.5s;
}

@mixin lighter-hover-transition{
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}